table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.form {
  padding: 2rem;
  height: 400px;
  width: 400px;
  border: 1px solid #dadce0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.field {
  height: 2rem;
  width: 15rem;
  border: 1px solid #a9a9a9;
  padding: 3px;
  border-radius: 0.3rem;
  margin-top: 2rem;
}

button[type="submit"] {
  margin-top: 2rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  background: #90ee90;
  color: #fff;
}

.error {
  width: 15rem;
  color: red;
}

.display {
  width: 400px;
  background: #fafad2;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid #a9a9a9;
}

.data {
  display: flex;
  align-items: center;
}
